@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url("./form.css");
@import url("./home.css");
@import url("./unauthorized.css");
@import url("./miscellaneous.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Satoshi', sans-serif;
}