div.panel.panel-info div.panel-heading {
	padding: 6px 24px; 
}

table[tablename=tbl1] tr td, table[tablename=tbl1] tr th {
	padding: 5px!important;
}

table[tablename=tbl1] .form-group {
	margin-bottom: 0px;
}

[data-campo=meioPagamento],[data-campo=aprovadorZinf],[data-painel=dadosTransporte],
[data-painel=dadosAjusteCarga],[data-painel=dadosNotasManuais],[data-importacao-planilha] {
	display: none;
}

select.desabilitado {
    pointer-events: none;
    touch-action: none;
    cursor: not-allowed !important;
    background-color: #eee !important;
    color: #a7a9ac !important;
}

.erro-sap {
	color: #cc3d3d !important;
}

.has-validator-error {
    color: red !important;
    border-color: red !important;
}